@import "../../node_modules/compass-sass-mixins/lib/compass/";


$background: #9b59b6;
$tabs-base-color: #8e44ad;

* {
  margin: 0;
  padding: 0; 
  @include box-sizing(border-box);
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: darken($tabs-base-color, 15);
    @include transition(all 0.2s ease-in);
    &:hover {
      background-color: darken($tabs-base-color, 20);
    }
  }
} 
.notif-success {
  color: hsl(37, 100%, 50%);
  background-color: #162944;
  border: 2px solid #53F2CE;
  border-radius: 0px;
  padding: 9px 27px;
  margin: 0 0 0 10%;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 #685EB1;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.notif-failure {
  color: hsl(37, 100%, 50%);
  background-color: #162944;
  border: 2px solid  #8c325e;
  border-radius: 0px;
  padding: 9px 18px;
  margin: 0 0 0 10%;
  font-size: 10px;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 #685EB1;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}