.extensible {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "extensible0 extensible1"
    "extensible2 extensible3"
    "extensible4 increase"; 
}
.extensible0 { grid-area: extensible0; }
.extensible1 { grid-area: extensible1; }
.extensible2 { grid-area: extensible2; }
.extensible3 { grid-area: extensible3; }
.extensible4 { grid-area: extensible4; }
.increase { grid-area: increase; }