body {
  background-color: black;
  color: cyan;
  font-family: 'Ubuntu Mono', Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "deck rules"
    "deck tag";
}
.deck { grid-area: deck; }
.card { grid-area: tag; }
.rules { grid-area: rules; }