@import url("https://fonts.googleapis.com/css?family=Lato");
$highlight: #c0392b;

body {
  font-family: Lato, Arial;
  background-color: #162944;
  color: hsl(37, 100%, 50%);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

h1{
  margin-left: 2%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "deck rules rules"
    "deck tag sim";
}

.deck {
  grid-area: deck;

  margin-left: 10%;
}
.deck-input {
  margin-bottom: 5%;
}

.hidden {
  display: none;
  visibility: hidden;
}
    
ol,
ul {
  list-style: none;
}

.card {
  grid-area: tag;
}
.rules {
  grid-area: rules;
}

.sim{
  grid-area: sim;
}


option{
  font-family: "Press Start 2P", 'Ubuntu Mono', Helvetica, Arial, sans-serif;
}

.selected{
  background-color: #33698f ;
}
.trans{
  background-color: #193549 ;
}

.deckbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . .";  
    
}


.cardContainer > img, span{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card {
  height: 80%;
  width: 60%;
}

.border {
  border: 3px solid #c0392b;
}

.border-orange {
  border: 3px solid #C0742B;

}


.radio {
  background-color: darken(#612e76, 5);
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
  /* top | right | bottom | left */
  /* TeRRBLe */

  padding: 5px 0 5px 0;
}

.radio > p {
  margin-top: auto;
  margin-bottom:auto;
}

input{
margin-right: 2%;
}


.button_slide {
  color: hsl(37, 100%, 50%); 
  background-color: #162944;
  border: 2px solid #685EB1;
  border-radius: 0px;
  padding: 9px 36px;
  max-height: 38px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #685EB1;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  // transition: height 0.66s ease-out;
}

.button_slide:hover {
  box-shadow: inset 400px 0 0 0 #685EB1;
}

.mulliganQueryBuilder > *{
  margin-bottom: 2%;
}

.mulliganQueryBuilder > p {
  border-bottom: 1px dotted $highlight;
}